**/*.env
**/.env
**/.env.*
.git
.github
.husky
.pnpm-store
**/coverage
**/data
**/dist
**/node_modules
logs
.dockerignore
.gitignore
.lintstagedrc.json
.prettierignore
.prettierrc.js
Dockerfile
README.md
docs
